<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Task App</title>
      <link rel="stylesheet" href="/css/default/styles.css" />
      <link rel="stylesheet" href="/css/default/themes/light.css" />
      <script src="/socket.io/socket.io.js"></script>
      <script src="/client.js"></script>
   </head>
   <body>
      <nav class="navbar">
         <h1 id="title">Task App</h1>
      </nav>
   </body>
</html>
